<html>
	<form action = "/add_stock_show_main_page", method = "post">
		<table>
			<tr>
				<td>
					Enter Stock/ETF Ticker
				</td>
				<td>
					<input type = "text" name = "stock_name">
				</td>
			</tr>
			<tr>
				<td>
					Enter Quantity
				</td>
				<td>
					<input type = "text" name = "quantity">
				</td>
			</tr>
			<tr>
				<td>
					Enter the price at which stock/ETF was bought at
				</td>
				<td>
					<input type = "text" name = "stock_bought_at_this_price">
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type = "submit" value = "Add Stock/ETF" >
				</td>
			</tr>
	</form>
</html>
