<html>
	<form action = "/add_stock_show_main_page" method = "post" name = "form">
		{{ form.csrf_token }}
		<table>
			<tr>
				<td>
					{{ form.ticker.label }}
				</td>
				<td>
					{{ form.ticker }}
				</td>
			</tr>
			<tr>
				<td>
					{{ form.quantity.label }}
				</td>
				<td>
					{{ form.quantity }}
				</td>
			</tr>
			<tr>
				<td>
					{{ form.stock_bought_at_this_price.label }}
				</td>
				<td>
					{{ form.stock_bought_at_this_price }}
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type = "submit" value = "Add Stock/ETF" >
				</td>
			</tr>
	</form>
	</script>
</html>
